<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Event</title>
</head>
<body>
    <form method="POST" action="save">
        {% csrf_token %}
        Enter Event name: <input name="event_name" type="text"><br><br>
        Enter Event venue: <input name="event_venue" type="text"><br><br>
        Enter Event Date: <input name="event_date" type="text"><br><br>
        Enter Event Manager: <input name="event_manager" type="text"><br><br>
        <input type="submit">
    </form>
</body>
</html>