<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Events</title>
</head>
<body>
    <h1> List of Events</h1>
    {% for events in events %}
    Event's ID : {{events.id}}<br>
    Event's Name : {{events.event_name}} <br>
    Event's venue : {{events.venue}} <br>
    Event Date : {{events.event_date}}<br>
    Event Manager : {{events.manager}}<br><br>
    <a href="delete/{{events.id}}">Delete this event</a><br><br>
    {% empty %}
        There are no Events.
    {% endfor %}
</body>
</html>