<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Function</title>
</head>
<body>
    <h1>Search For Events</h1>
    <Form method='post' action="/search/">
        {% csrf_token %}      
        <input type="text" name="srh" placeholder="Enter The Name of Event or Venue"> 
        <button> Search</button>


    </Form><br>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for k in messages %}
                <li style="color: red">{{ k }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div><br>
    <div style="color: blue">
        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="300px">
                <tr>
                    <td>Name of Event</td>
                    <td>{{ k.event_name }}</td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td>{{ k.venue }}</td>
                </tr>
                <tr>
                    <td>Event Data</td>
                    <td>{{ k.event_date }}</td>
                </tr>
                <tr>
                    <td>Name of Manager</td>
                    <td>{{ k.manager }}</td>
                </tr>

            </table>
            
    
    </div>

    
</body>
</html> 